<!------------------part1:image after header----------------------->
<div id="banner-area" class="banner-area"
  style="background-image:url(assets/img/contact.jpg);margin-top: 8%;margin-bottom: 3%;">
  <div class="banner-text">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="banner-heading">
            <h1 class="banner-title">Djagora academy/Formations</h1>
          </div>
        </div><!-- Col end -->
      </div><!-- Row end -->
    </div><!-- Container end -->
  </div><!-- Banner text end -->
</div><!-- Banner area end -->


<!------------------part2:who_we_are----------------------->
<div class="who_we_are ">

  <div class="rpbox ">
    <div class="rpsbox container">
      <img src="assets/img/singel.jpg" alt="">
      <div class="content">
        <h2>Who We Are</h2>
        <p>Nice to meet you! We are a tech-driven online retailer located near Salt Lake
          City in the shadow of the Wasatch Mountains. Since our beginnings in 1999,
          Overstosck has evolved from a fledging startup to a billion-dollar online
          retailer as a result of a hard-working and creative team.
        </p>
      </div>


    </div>
  </div>
</div>


<!------------------------------------------------------------------
<div class="who_we_are ">
  <div class="rpbox ">
    <div class="titre">

      <h1 name="1">FORMATION</h1>
    </div>

    <div class="rpsbox container" *ngFor="let p of formations">
      <img class="card-img-top" [src]="imgpath+p.img" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ p.name }}</h5>
        <p class="card-text">{{p.description}}</p>
        <p class="card-text"><small class="text-muted">{{ p.name }}</small></p>

      </div>
    </div>



  </div><br> <br><br>
</div>
-->
<div>
  <section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">OUR FORMATIONS</h5>
        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let p of formations">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid"  [src]="imgpath+p.img"  alt="card image"></p>
                                    <h4 class="card-title">{{ p.name }}</h4>
                                    <p class="card-text">{{ p.description}}</p>
                                    <h6 class="card-title">{{ p.formateur }}</h6>

                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">{{ p.name }}</h4>
                                    <p class="card-text">{{ p.description}}</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->


        </div>
    </div>
</section>
</div>
