<div id="banner-area" class="banner-area"
  style="background-image:url(assets/img/contact.jpg);margin-top: 8%;margin-bottom: 3%;">
  <div class="banner-text">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="banner-heading">
            <h1 class="banner-title">Backlog/Sprints/{{sprint.name}}</h1>
          </div>
        </div><!-- Col end -->
      </div><!-- Row end -->
    </div><!-- Container end -->
  </div><!-- Banner text end -->
</div><!-- Banner area end -->
<div *ngIf="loader==true">
  <div class="loader-overlay">
    <div *ngIf="loader==true" class="loader"></div>
  </div>
</div>

<!-- Main Body -->
<section *ngIf="loader==false ">
  <div class="container">
    <div class="row mb-3">
      <button [routerLink]='["/sprint",sprint.project_id]' class=" ml-3  col-md-auto btn_retour px-2 "> 🢀 Back</button>
      <button [routerLink]='["/evaluation",id]' class="btn mx-3  col-md-auto  "
        style="color: white;background-color:#0081c2;">Evaluation</button>
</div>




 
  

    <!--sprint1-->
    <div class=" card-margin " *ngIf="sprint.name=='sprint 1' && sprint.project_id==SingleProject.id && sprint.state==1 ">
      <h1 class="titre">Evaluation {{sprint.name}}</h1>

      <div class="container-fluid   ">
        <section class="container">

          <div class="row ms-md-5 my-md-4  justify-content-center">
            <div class="col-xl-4 col-md-12  mb-4   ">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                      <div class="align-self-center">
                        <i class="fa-solid fa-bars-progress text-info fa-3x me-4"></i>
                      </div>
                      <div>
                        <h4>Project </h4>
                        <p class="mb-0">progress</p>
                      </div>
                    </div>
                    <div class="align-self-center">
                      <h2 class="h1 mb-0">{{evaluationSprint1.all}}%</h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-12  mb-4   ">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                      <div class="align-self-center">
                        <i class="fa-solid fa-bars-progress text-info fa-3x me-4"></i>
                      </div>
                      <div>
                        <h4>Sprint </h4>
                        <p class="mb-0">progress</p>
                      </div>
                    </div>
                    <div class="align-self-center">
                      <h2 class="h1 mb-0">{{evaluationSprint1.sprint}}%</h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-12  mb-4   ">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                      <div class="align-self-center">
                        <i class="fa-solid fa-pen-to-square text-info fa-3x me-4"></i>
                      </div>
                      <div>
                        <h4>Total </h4>
                        <p class="mb-0">Userstories</p>
                      </div>
                    </div>
                    <div class="align-self-center">
                      <h2 class="h1 mb-0">{{evaluationSprint1.total}}</h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-12 mb-4   ">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                      <div class="align-self-center">
                        <i class="fas fa-check  text-success fa-3x me-4"></i>
                      </div>
                      <div>
                        <h4>Total </h4>
                        <p class="mb-0">realized</p>
                      </div>
                    </div>
                    <div class="align-self-center">
                      <h2 class="h1 mb-0">{{evaluationSprint1.realise}}</h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-md-12 mb-4   ">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                      <div class="align-self-center">
                        <i class="fa-regular fa-clock text-warning fa-3x me-4"></i>
                      </div>
                      <div>
                        <h4>Total </h4>
                        <p class="mb-0">time</p>
                      </div>
                    </div>
                    <div class="align-self-center">
                      <h2 class="h1 mb-0">{{evaluationSprint1.duree}}</h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-xl-4 col-md-12 mb-4  ">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                      <div class="align-self-center">
                        <i class="fa-regular fa-clock text-danger fa-3x me-4"></i>
                      </div>
                      <div>
                        <h4>Average </h4>
                        <p class="mb-0">time rate</p>
                      </div>
                    </div>
                    <div class="align-self-center">
                      <h2 class="h1 mb-0 " style="color: red;" *ngIf="evaluationSprint1.diff_duree<0" >{{evaluationSprint1.diff_duree}}</h2>
                      <h2 class="h1 mb-0 " style="color: orange;" *ngIf="evaluationSprint1.diff_duree==0">{{evaluationSprint1.diff_duree}}</h2>
                      <h2 class="h1 mb-0 " style="color: green;" *ngIf="evaluationSprint1.diff_duree>0">+{{evaluationSprint1.diff_duree}}</h2>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </section>
      </div>
     

    


     </div>

    <!--sprint2-->
    <div class=" card-margin " *ngIf="sprint.name=='sprint 2' && sprint.project_id==SingleProject.id && sprint.state==1">
      <h1 class="titre">Evaluation {{sprint.name}}</h1>

      <div class="container-fluid   ">
        <section class="container">

          <div class="row ms-md-6 my-md-4 justify-content-center ">
            <div class="col-xl-4 col-md-12  mb-4   ">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                      <div class="align-self-center">
                        <i class="fa-solid fa-users text-info fa-3x me-4"></i>
                      </div>
                      <div>
                        <h4>Gap </h4>
                        <p class="mb-0">Early adapters out of total users</p>
                      </div>
                    </div>
                    <div class="align-self-center">
                      <h2 class="h1 mb-0" style="color: red;" *ngIf="evaluationSprint1.ecart<13" >{{evaluationSprint1.ecart}}%</h2>
                      <h2 class="h1 mb-0" style="color:green" *ngIf="evaluationSprint1.ecart>13" >{{evaluationSprint1.ecart}}%</h2>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-12 mb-4  ">
              <div class="card" style="height: 99.5%;">
                <div class="card-body" >
                  <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                      <div class="align-self-center">
                        <i class="fas fa-user text-success fa-3x me-4"></i>
                      </div>
                      <div>
                        <h4>Total </h4>
                        <p class="mb-0">of co-creators</p>
                      </div>
                    </div>
                    <div class="align-self-center">
                      <h2 class="h1 mb-0">{{evaluationSprint1.cocreator}}</h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-md-12 mb-4  ">
              <div class="card" style="height: 99.5%;">
                <div class="card-body">
                  <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                      <div class="align-self-center">
                        <i class="fas fa-hand-point-up text-warning fa-3x me-4"></i>
                      </div>
                      <div>
                        <h4>Total </h4>
                        <p class="mb-0">of hypothesis</p>
                      </div>
                    </div>
                    <div class="align-self-center">
                      <h2 class="h1 mb-0">{{evaluationSprint1.hypothesis}}</h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
         


           
          </div>

        </section>
      </div>
     

    </div>
    <!--sprint3-->
    <div class="card card-margin " *ngIf="sprint.name=='sprint 3' && sprint.project_id==SingleProject.id && sprint.state==1">
      <h1 class="titre">Evaluation {{sprint.name}}</h1>
      <h2 class="my-4 mx-4" style="color: #0081c2;">Marché initial: Qui est votre client ?</h2>
      <table class="table" style="border: 2px;">
        <tr>
          <th rowspan="5">Tête de pont</th>
          <td>Le client cible a-t-il de l’argent ? </td>
          
          <td>{{evaluationSprint1.tp1}}%</td>
          <td rowspan="5">{{moy1}}%</td>
          <td rowspan="14">{{allmoy}}%</td>

        </tr>
        <tr>
          <td>Vous avez identifié le plus grand défi pour votre start-up ?</td>
          
          <td>{{evaluationSprint1.tp2}}%</td>
        </tr>
        <tr>
          <td>Disposez vous d'un schéma de segmentation de votre marché.</td>
        
          <td>{{evaluationSprint1.tp3}}%</td>
        </tr>
        <tr>
          <td>Pouvez-vous lui fournir le produit complet?</td>
         
          <td>{{evaluationSprint1.tp4}}%</td>
        </tr>
        <tr>
          <td>Disposez vous des "ressources" suffisantes pour pénétrer d’autres marchés</td>
         
          <td>{{evaluationSprint1.tp5}}%</td>
        </tr>
        <tr>
          <th rowspan="4">Profil utilisateur final</th>
          <td> Les utilisateurs finaux utilisent t-ils tous le même produit?

          </td>
         
          <td>{{evaluationSprint1.uf1}}%</td>
          <td rowspan="4">{{moy2}}%</td>

        </tr>
        <tr>
          <td>Les utilisateurs finaux ont t-ils exprimé leurs besoins?</td>
        
          <td>{{evaluationSprint1.uf2}}%</td>
        </tr>
        <tr>
          <td>A-t-il une bonne raison d’acheter votre produit ?</td>
          
          <td>{{evaluationSprint1.uf3}}%</td>
        </tr>
        <tr>
          <td>L'équipe peut fournir une solution complète ?</td>
         
          <td>{{evaluationSprint1.uf4}}%</td>
        </tr>
        <tr>
          <th rowspan="5">TAM : La taille potentielle de votre marché</th>
          <td>Avez vous fixé des hypothèses :</td>
        
          <td *ngIf="evaluationSprint1.tam1==0" >No</td>
          <td *ngIf="evaluationSprint1.tam1==1" >Yes</td>

          <td rowspan="4">{{moy3}}%</td>

        </tr>
        <tr>
          <td>Combien coûte chaque produit ?</td>
          
          <td>{{evaluationSprint1.tam2}}</td>

        </tr>
        <tr>
          <td>Combien d’unités le client en achète pour l’utilisateur final ? </td>
       
          <td>{{evaluationSprint1.tam3}}</td>
        </tr>
        <tr>
          <td>La durée de vie moyenne du produit avant qu’il soit remplacé ? </td>
       
          <td>{{evaluationSprint1.tam4}}%</td>
        </tr>
        <tr>
          <td> Avez vous une idée sur le potentiel de votre marché? </td>
         
          <td>{{evaluationSprint1.tam5}}%</td>
        </tr>
        <tr>
         
        </tr>
      </table>
    </div>
    <!--sprint4-->
    <div class="card card-margin " *ngIf="sprint.name=='sprint 4' && sprint.project_id==SingleProject.id && sprint.state==1">
      <h1 class="titre">Evaluation {{sprint.name}}</h1>
      <h2 class="my-4 mx-4" style="color: #0081c2;">Conception et fabrication: Comment fabriquez-vous votre produit ?
      </h2>
      <table class="table">
        <tr>
          <th>Identifier hypothèses clés</th>
          <td>Décrire les principales hypothèses sur lesquelles repose votre projet de façon à pouvoir les tester avant
            que le marché ne le fasse à votre place.</td>
        
            <td>{{evaluationSprint1.q1}}%</td>
            <td colspan="3">{{moy1}}%</td>
        </tr>
        <tr>
          <th>Tester hypothèses clés</th>
          <td>Organiser une série de petites expériences peu coûteuses pour tester chacune des hypothèses identifiées à
            l’étape précédente. Faites preuve d’imagination !
          </td>
         
          <td>{{evaluationSprint1.q2}}%</td>
        </tr>
        <tr>
          <th>MVBP : le produit minimum business viable</th>
          <td>Déterminer le produit minimum qui pourrait vous permettre de vérifier que votre utilisateur final tire de
            la valeur de votre produit et que celui-ci vous sera payé.</td>
         
            <td>{{evaluationSprint1.q3}}%</td>
        </tr>

        <tr>
          <th>Indicateur de suivis</th>
          <td>sprint</td>
         
            <td style="color: red;" *ngIf="moy1<30"  >Insuffisant</td>
            <td *ngIf="moy1<60 && moy1>=30" style="color:orange;" >En cours</td>
            <td *ngIf="moy1>=60 && moy1<100" style="color: green;">Acceptable</td>
            <td *ngIf="moy1==100" style="color: green;" >Validé</td>

        </tr>
      
      </table>
    </div>

    <!--sprint5-->
    <div class=" card-margin " *ngIf="sprint.name=='sprint 5' && sprint.project_id==SingleProject.id && sprint.state==1">
      <h1 class="titre">Evaluation {{sprint.name}}</h1>
      <h2 class="my-4 mx-4" style="color: #0081c2;">Evaluation de L’expérience client
      </h2>
      <div class="container-fluid   ">
        <section class="container">
          

          <div class="row ms-md-6 my-md-4 justify-content-center ">
            <div class="col-xl-5 col-md-12  mb-4   " >
              <div class="card " style="height: 99.5%;" >
                <div class="card-body">
                  <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                      <div class="align-self-center">
                        <i class="fa-sharp fa-regular fa-bullseye-pointer text-info fa-3x me-4"></i>
                      </div>
                      <div>
                        <h4>Conversion rate </h4>
                        <p class="mb-0">Number of conversions out of number of ad interactions</p>
                      </div>
                    </div>
                    <div class="align-self-center">
                      <h2 class="h1 mb-0" style="color:green ;" *ngIf="evaluationSprint1.conversion<=8 && evaluationSprint1.conversion>=6">{{evaluationSprint1.conversion}}%</h2>
                      <h2 class="h1 mb-0" style="color:orange ;" *ngIf="evaluationSprint1.conversion>8 || evaluationSprint1.conversion<6">{{evaluationSprint1.conversion}}%</h2>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-5 col-md-12  mb-4   ">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                      <div class="align-self-center">
                        <i class="fa-sharp fa-regular fa-bullseye-pointer text-info fa-3x me-4"></i>
                      </div>
                      <div>
                        <h4>DAU/MAU </h4>
                        <p class="mb-0">average of number of daily active users out of average of number of monthly active users </p>
                      </div>
                    </div>
                    <div class="align-self-center">
                      <h2 class="h1 mb-0" style="color:green ;" *ngIf="evaluationSprint1.daumau<=50 && evaluationSprint1.daumau>=20">{{evaluationSprint1.daumau}}%</h2>
                      <h2 class="h1 mb-0" style="color:orange ;" *ngIf="evaluationSprint1.daumau<20 || evaluationSprint1.daumau>50">{{evaluationSprint1.daumau}}%</h2>

                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>


          

        </section>
      </div>


    

    </div>
    <!--sprint6-->
    <div class=" card-margin " *ngIf="sprint.name=='sprint 6' && sprint.project_id==SingleProject.id && sprint.state==1">
      <h1 class="titre">Evaluation {{sprint.name}}</h1>
      
      <div class="container-fluid   ">
        <section class="container">

          <div class="row ms-md-6 my-md-4 justify-content-center ">
            <div class="col-xl-5 col-md-12  mb-4   ">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                      <div class="align-self-center">
                        <i class="fa-sharp fa-regular fa-bullseye-pointer text-info fa-3x me-4"></i>
                      </div>
                      <div>
                        <h4>ltv - cac</h4>
                        <p class="mb-0">customer contribution minus the lifetime of the customer</p>
                      </div>
                    </div>
                    <div class="align-self-center">
                      <h2 class="h1 mb-0">{{evaluationSprint1.resultat}}%</h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           
         


           
          </div>

        </section>
      </div>


    </div>





    <div class="row">
      <div class="col-sm-5 col-md-6 col-12 " cdkDropList #todoList="cdkDropList" [cdkDropListData]="userStories"
        [cdkDropListConnectedTo]="[doneList]" (cdkDropListDropped)="drop($event)">
        <h2 class="my-4" style="color: #0081c2;">Pending user stories</h2>
        <div class="comment   col-md-12 text-justify float-left mb-4" *ngFor="let story of userStories" cdkDrag>
          <h4 style="color: #0081c2;">{{story.name}}</h4>
          <span> | {{story.hours}} Hours</span>
          <span class="badge badge-danger " *ngIf="story.priority<3" style="color: white;float: right;">Critical</span>
          <span class="badge badge-warning" *ngIf="story.priority>=3 && story.priority<=6"
            style="color: white;float: right;">Medium</span>
          <span class="badge badge-info" *ngIf="story.priority>6" style="color: white;float: right;">Easy</span>


          <br>
          <p>{{story.description}}</p>
        </div>
        <h4 *ngIf="userStories.length==0" style="color: gray; margin-top: 3%;margin-bottom: 3%;">
          No pending user stories yet</h4>
      </div>
      <div class="col-lg-6 col-md-5 col-sm-4  col-12 ">
        <div class="row ">
          <h2 class="my-4" style="color: #0081c2;">Sprint user stories</h2>

        </div>
        <div class="">
          <div class="row  ">
            <div class="">
              <div class="card card-margin">
                <div class="card-header no-border">
                  <span *ngIf="scrumMaster!=null" class="badge  badge-light col-md-auto my-2 ">
                    <div class="row ">
                      <img [src]="imgpath+scrumMaster.img" alt="" style="width: 30%;border-radius:100%;">
                      <h6 style="margin-top: -15%; color: gray;">{{scrumMaster.name}}</h6>
                    </div>


                  </span>
                  <span *ngIf="scrumMaster==null" class="badge badge-light col-md-auto my-2 ">
                    <h6 style="color: gray;">No scrum master yet</h6>

                  </span>
                </div>
                <div class="card-body pt-0">
                  <div class="widget-49">
                    <div class="widget-49-title-wrapper">
                      <div class="widget-49-date-primary">
                        <span class="widget-49-date-day">1</span>
                      </div>
                      <div class="widget-49-meeting-info">

                        <h4>{{sprint.name}}</h4>

                      </div>

                    </div>
                    <ol class="widget-49-meeting-points">
                      <li *ngIf="sprint.startDate" class="widget-49-meeting-item"><span>Start date: {{sprint.startDate}}
                        </span></li>
                      <li *ngIf="sprint.endDate" class="widget-49-meeting-item"><span>End date: {{sprint.endDate}}
                        </span></li>
                      <li *ngIf="!sprint.startDate" class="widget-49-meeting-item"><span>No start date yet</span></li>
                      <li *ngIf="!sprint.endDate" class="widget-49-meeting-item"><span>No end date yet </span></li>


                    </ol>
                    <div class="widget-49-meeting-action col-md-auto ">


                      <button class="btn  ml-2 btn-flash-border-primary col-md-auto "
                        style="background-color: #0081c2;color:white;" [routerLink]='["/boards",this.id]'>Check
                        board
                      </button>
                    </div>
                  </div>
                </div>

              </div>


            </div>
            <div class="col-sm-5 col-md-12 col-12 pb-4" cdkDropList #doneList="cdkDropList" [cdkDropListData]="affected"
              [cdkDropListConnectedTo]="[todoList]" (cdkDropListDropped)="drop($event)">
              <h2 class="my-4" style="color: #0081c2;">Affected user stories</h2>
              <h4 *ngIf="affected.length==0" style="color: gray; margin-top: 3%;margin-bottom: 3%;">
                No Affected user stories yet</h4>
              <div class="drag-image">
                <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
                <h6>Drag & Drop user stories below</h6>
              </div>
              <div class="comment  mt-4 col-md-12 text-justify float-left" *ngFor="let story of affected" cdkDrag>
                <h4 style="color: #0081c2;">{{story.name}}</h4>
                <span> | {{story.hours}} Hours</span>
                <span class="badge badge-danger " *ngIf="story.priority<3"
                  style="color: white;float: right;">Critical</span>
                <span class="badge badge-warning" *ngIf="story.priority>=3 && story.priority<=6"
                  style="color: white;float: right;">Medium</span>
                <span class="badge badge-info" *ngIf="story.priority>6" style="color: white;float: right;">Easy</span>


                <br>
                <p>{{story.description}}</p>
              </div>

            </div>


          </div>

        </div>
      </div>
    </div>
  </div>
</section>