<div id="banner-area" class="banner-area"
  style="background-image:url(assets/img/contact.jpg);margin-top: 8%;margin-bottom: 3%;">
  <div class="banner-text">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="banner-heading">
            <h1 class="banner-title">Edit UserStory/{{userStory.project_id}}</h1>
          </div>
        </div><!-- Col end -->
      </div><!-- Row end -->
    </div><!-- Container end -->
  </div><!-- Banner text end -->
</div><!-- Banner area end -->

<div *ngIf="loader==true">
    <div class="loader-overlay">
        <div *ngIf="loader==true" class="loader"></div>
    </div>
</div>

<div class="titre">
    <h1 name="1">Edit userstory</h1>
</div>

<div class="container">
    <div class="btn_retour mb-3">
        <button [routerLink]='["/backlog",projID]'><a>🢀 Back</a></button>
    </div>
    <div class=" ">
      <form  [formGroup]="userStoryForm">

        <div class="row justify-content-center">
          <div class="col-md-4 mb-4 mx-4">
            <label for="validationServer01">Title</label>
            <input type="text" name="name" id="fullname" formControlName="name" class="form-control" [(ngModel)]="userStory.name"
          placeholder="Title...">
          </div>

          <div class="col-md-4 mb-4 mx-4">
            <label for="validationServer01">Actor</label>
            <input type="text" name="name" formControlName="actor" id="fullname" class="form-control" [(ngModel)]="userStory.actor"
          placeholder="Actor...">
          </div>
        
        </div>
        <div class="row justify-content-center">
          <div class="col-md-4 mb-4 mx-4">
            <label for="name">Estimated hours</label>
            <input type="number" name="name" id="fullname" formControlName="hours" class="form-control" [(ngModel)]="userStory.hours"
              placeholder="Number of hours...">
    
          </div>
          <div class="col-md-4 mb-4 mx-4">
            <label for="name">Relized date</label>
            <input type="date" name="name" id="fullname" formControlName="realized_date" class="form-control" [(ngModel)]="userStory.realized_date"
              placeholder="date...">
    
          </div>

          
        </div>
        <div class="row justify-content-center">
          <div class="col-md-4 mb-4 mx-4">
            <label for="name">Priority</label>
            <input type="number" max="10" min="0" name="name" id="fullname" formControlName="priority" class="form-control" [(ngModel)]="userStory.priority">

    
          </div>
          <div class="col-md-4 mb-4 mx-4">
            <label for="name">Ressouce</label>
            <select name="" id="" class="custom-select" formControlName="resource" [ngModel]="userStory.resource">
              <option *ngFor="let stud of students" value="{{stud.id}}">{{stud.name}}</option>
    
    
            </select>
    
          </div>

          
        </div>


        <div class="row justify-content-center">
         
          <div class="col-md-9 mb-4 mx-4">
            <label for="name">Description</label>
            <textarea name="msg" id="" msg cols="30" formControlName="description" rows="5" class="form-control" [(ngModel)]="userStory.description"
            placeholder="Description..."></textarea>
          </div>

          
        </div>
      
      
        <div class="row justify-content-center">
          <button class="btn  col-md-2" style="background-color: #0081c2;color:white;" type="submit" (click)="editUserStory()">Save changes</button>
        </div>
      </form>
    </div>
  </div>