<div id="banner-area" class="banner-area"
    style="background-image:url(assets/img/contact.jpg);margin-top: 8%;margin-bottom: 3%;">
    <div class="banner-text">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="banner-heading">
                        <h1 class="banner-title">profiles/{{user.name}}</h1>
                    </div>
                </div><!-- Col end -->
            </div><!-- Row end -->
        </div><!-- Container end -->
    </div><!-- Banner text end -->
</div><!-- Banner area end -->





<div class="container">


    <button [routerLink]="['/myProfil',user.user_id]" class="btn--new">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        <span> Back</span>
    </button>
    <form [formGroup]="userForm">
        <div class="main-body">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body ">
                            <div class="d-flex flex-column align-items-center text-center">
                                <div class="avatar-upload">
                                    <div class="avatar-edit">
                                        <input type='file' id="imageUpload" (change)="onChange($event)"
                                            accept=".png, .jpg, .jpeg" value="edit" />
                                        <label for="imageUpload"></label>
                                        <span class="tooltiptext">Edit Profile Picture</span>
                                    </div>


                                </div>
                                <img [src]="imgpath+user.img" alt="Admin" class="rounded-circle p-1 " width="110">
                                <div class="mt-3">
                                    <h4>{{user.name}}</h4>

                                </div>
                            </div>
                            <hr class="my-4">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-globe me-2 icon-inline">
                                            <circle cx="12" cy="12" r="10"></circle>
                                            <line x1="2" y1="12" x2="22" y2="12"></line>
                                            <path
                                                d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z">
                                            </path>
                                        </svg>Website</h6>
                                    <span class="text-secondary"><input type="text" class="form-control"
                                            placeholder="website link"></span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-github me-2 icon-inline">
                                            <path
                                                d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                                            </path>
                                        </svg>Github</h6>
                                    <span class="text-secondary"><input type="text" class="form-control"
                                            placeholder="github link"></span>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-body ">

                            <div class="row mb-3 px-sm-3 py-sm-2">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Full Name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" class="form-control" formControlName="name"
                                        [(ngModel)]="user.name">
                                </div>
                            </div>
                            <div class="row mb-3 px-sm-3 py-sm-2">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" class="form-control" formControlName="email"
                                        [(ngModel)]="user.email">
                                </div>
                            </div>
                            <div class="row mb-3 px-sm-3 py-sm-2">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Birth date</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="date" class="form-control" formControlName="birth_date"
                                        [ngModel]="user.birth_date | date:'yyyy-MM-dd'" placeholder="Birth Date">
                                </div>
                            </div>
                            <div class="row mb-3 px-sm-3 py-sm-2">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Phone</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="number" class="form-control" formControlName="phone"
                                        [(ngModel)]="user.phone" placeholder="Phone">
                                </div>
                            </div>
                            <div class="row mb-3 px-sm-3 py-sm-2">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Address</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" class="form-control" formControlName="location"
                                        [(ngModel)]="user.location" placeholder="Address">
                                </div>
                            </div>
                            <div class="row mb-3 px-sm-3 py-sm-2">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Profession</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" class="form-control" formControlName="profession"
                                        [(ngModel)]="user.profession" placeholder="Profession">
                                </div>
                            </div>
                            <div class="row mb-3 px-sm-3 py-sm-2">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Domain</h6>
                                </div>

                                <ejs-multiselect id='multiselectelement' class="col-sm-9 text-secondary"
                                    [ngModel]="datas1" [dataSource]='datas' formControlName="domain"
                                    placeholder='Find a item'>
                                    <ng-template #noRecordsTemplate>
                                        <span class='norecord'> NO DATA AVAILABLE</span>
                                    </ng-template>
                                </ejs-multiselect>`
                            </div>

                            <div class="row mb-3 px-sm-3 py-sm-2">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Cv</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="file" (change)="onChangeCv($event)" class="form-control"
                                        formControlName="cv">
                                </div>
                            </div>


                            <div class="row px-sm-3 py-sm-2">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-9 text-secondary">
                                    <button (click)="onEdit()" class="edit">Save Changes</button>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>






        <br>




        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="d-flex align-items-center mb-3">Activity</h5>



                        <div class="rpbox" *ngIf="role=='1' ">
                            <div class="container bootstrap snippets bootdey " *ngFor="let a of applications">
                                <div class="col-md-12">
                                    <div class="profile-container">
                                        <div class="profile-header row">
                                            <div class="col-md-4 col-sm-12 text-center">
                                                <img [src]="imgpath+a.img" alt="" class="header-avatar">
                                            </div>
                                            <div class="col-md-8 col-sm-12 profile-info">
                                                <div class="header-fullname"><i class="fas fa-user mr-2"></i> {{a.name}}
                                                </div>

                                                <a class="btn btn-palegreen btn-sm  btn-follow read-more">
                                                    <i class="fa fa-pencil"></i>
                                                    <a [routerLink]="['/Editwork',a.id]">Edit</a>

                                                </a>

                                                <div class="header-information"><i class="fas fa-envelope mr-2"></i>
                                                    {{a.email}} </div>

                                                <div class="header-information"><i class="fas fa-phone mr-2"></i>
                                                    {{a.number}} </div>


                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12 profile-stats">
                                                <div class="row">
                                                    <div class="col-md-4 col-sm-4 col-xs-12 stats-col">
                                                        <div class="stats-value " style="color: #0081c2 ;"> <i
                                                                class="fa-solid fa-person-circle-check"></i> Mentor
                                                        </div>
                                                        <div class="stats-title " style="color: orange;"
                                                            *ngIf="a.viewState==0">Pending</div>
                                                        <div class="stats-title " style="color: green;"
                                                            *ngIf="a.viewState==1">Approuved</div>
                                                        <div class="stats-title " style="color: red;"
                                                            *ngIf="a.viewState==-1">Denied</div>

                                                    </div>
                                                    <div class="col-md-4 col-sm-4 col-xs-12 stats-col">
                                                        <div class="stats-value " style="color: #0081c2 ;"><i
                                                                class="fa-solid fa-person-circle-check"></i> Admin</div>
                                                        <div class="stats-title " style="color: orange;"
                                                            *ngIf="a.appState==0">Pending</div>
                                                        <div class="stats-title " style="color: green;"
                                                            *ngIf="a.appState==1">Approuved</div>
                                                        <div class="stats-title " style="color: red;"
                                                            *ngIf="a.appState==-1">Denied</div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-4 col-xs-12 stats-col">
                                                        <div class="stats-value " style="color: #0081c2 ;"><i
                                                                class="fa-solid fa-download"></i> CV</div>
                                                        <div class="stats-title"><a style="text-decoration: none;"
                                                                href="http://127.0.0.1:8000/storage/post/{{a.cv}}"
                                                                download>
                                                                Download</a></div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="rpbox " *ngIf="role!='1'">
                            <div class="boxarchive">
                                <div class=" container py-4 ">

                                    <article class="postcard light yellow mt-md-4 "
                                        *ngFor="let SingleProject of projects">
                                        <a class="postcard__img_link" href="#">
                                            <img class="postcard__img" [src]="imgpath+SingleProject.img"
                                                alt="Image Title" />
                                        </a>
                                        <div class="postcard__text t-dark">
                                            <h1 class="postcard__title yellow"><a
                                                    href="#"><b>{{SingleProject.name}}</b></a></h1>

                                            <div class="postcard__bar"></div>
                                            <div class="postcard__preview-txt">{{SingleProject.description}}</div>
                                            <br>
                                            <ul class="postcard__tagbox" style="list-style: none;">
                                                <li class="tag__item"><i
                                                        class="fas fa-code mr-2"></i>{{SingleProject.technologies}}</li>
                                                <li class="tag__item"><i
                                                        class="fas fa-users mr-2"></i>{{SingleProject.nb_stagaires}}
                                                </li>
                                                <li class="tag__item"><i
                                                        class="fas fa-diagram-project mr-2"></i>{{SingleProject.domain}}
                                                </li>

                                                <li class="tag__item" *ngIf="SingleProject.projectState==0"><i
                                                        class="fa-solid fa-person-circle-check"></i>Pending
                                                <li>
                                                <li class="tag__item" *ngIf="SingleProject.projectState==1"><i
                                                        class="fa-solid fa-person-circle-check"></i>
                                                    Approuved </li>
                                                <li class="tag__item" *ngIf="SingleProject.projectState==-1"><i
                                                        class="fa-solid fa-person-circle-check"></i>Denied</li>


                                            </ul>
                                            <p class="read-more">
                                                <a [routerLink]="['/Editwork',SingleProject.id]"><i
                                                        class="fa fa-pencil"></i> Edit</a>
                                            </p>


                                        </div>
                                    </article>
                                </div>

                            </div>
                        </div>
                        <div class="pag">
                            <ul class="pagination">
                                <li class="page-item mx-2" style="cursor: pointer;" ><a class="page-link px-3 py-2" (click)="prevPage(prev)">         <span aria-hidden="true">&laquo;</span>

                                    Previous</a></li>

                                <li class="page-item mx-2 " style="cursor: pointer;"><a class="px-3 page-link py-2" (click)="nextPage(next)">Next        <span aria-hidden="true">&raquo;</span>
                                </a></li>
                              </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>
