<div id="banner-area" class="banner-area"
  style="background-image:url(assets/img/contact.jpg);margin-top: 8%;margin-bottom: 3%;">
  <div class="banner-text">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="banner-heading">
            <h1 class="banner-title">Backlog/Sprints/Edit Sprint/Board</h1>
          </div>
        </div><!-- Col end -->
      </div><!-- Row end -->
    </div><!-- Container end -->
  </div><!-- Banner text end -->
</div><!-- Banner area end -->
<div *ngIf="loader==true">
  <div class="loader-overlay">
    <div *ngIf="loader==true" class="loader"></div>
  </div>
</div>

<div class="titre">

  <h1 name="1">{{sprint.name}}</h1>
</div>


<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="modal-body mb-0 pb-0 mt-0">
      <div class="container ">
        <!-- custom radio button -->
        <div class="holder">
          <div class="row mb-1 ">
            <div class="col ">
              <h3 style="color: #0081c2;">Add new task</h3>
            </div>
          </div>
          <form class="customRadio customCheckbox m-0 p-0 my-4">
            <div class="row mb-0">
              <div class=" justify-content-center">
                <label for="validationServer01">Title</label>

                <input type="text" class="form-control p-3" id="validationServer01" placeholder="Project title">
                <label for="validationServer01">State</label>

                <input type="text" class="form-control p-3" id="validationServer01" placeholder="Project title">
                <label for="validationServer01">Description</label>

                <textarea type="text" class="form-control p-3" id="validationServer01" rows="5"></textarea>

              </div>
            </div>


          </form>

        </div>
      </div>
      <div style="margin-left:83%;" class="my-2"><button class="btn btn-primary ">submit</button></div>

    </div>

    <!-- Modal footer -->

  </div>

</div>


<div class="page-container page-navigation-toggled mb-5 py-2" style="background-color: rgb(243, 243, 243);" *ngIf="loader==false">


  <div class="page-content">
    <div class="my-3">

      <button [routerLink]="['/editsprint',id]" class="btn ml-1  col-md-auto btn_retour "
        style="    font-size: 16px;border-radius: 5px; padding: 6px 0px 6px 0px; ">🢀 Back</button>
     <!-- <button class="btn mx-3  col-md-auto  "
        style="color: white;background-color:#0081c2;font-size: 16px;border-radius: 5px;padding-top: 6px;padding-bottom: 6px; "
        id="myBtn" onclick="popup()">+ task</button>-->
    </div>


    <div class="content-frame">

      <div class="content-frame-left">
        <div>
          <h3 class="p-2" style="color: white;background-color:black;"><i class="fa-sharp fa-solid fa-pen-to-square"></i> User Story</h3>



          <div class="tasks" id="tasks">

            <div class="" cdkDropList 
            [cdkDropListData]="affected" 
            #nada="cdkDropList"
            class="example-list"
            [cdkDropListConnectedTo]="[todo,completed,progress,inreview]"
             (cdkDropListDropped)="drop($event)">
             <div *ngIf="affected.length==0">
              <h3  style="color: gray;" class="ml-5 my-2"  >No userStories yet </h3>
              <div class="drag-image">
               <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
               <h6>Drag & Drop user stories</h6>
             </div>
             </div>
            
            <div class="task-item task-primary" *ngFor="let story of affected" cdkDrag>
              <div class="task-text">{{story.description}}</div>

              <div class="task-footer">
                <div class="pull-left"><span class="fa fa-clock-o"></span> {{story.hours}} hours</div>
                <div class="pull-left ml-3"  ><span ><img style="border-radius: 100%;" height="25" [src]="imgpath+story.resource.img" alt=""></span> {{story.resource.name}}</div>

                <span class="badge badge-danger " *ngIf="story.priority<3" style="color: white;float: right;">Critical</span>
                <span class="badge badge-warning" *ngIf="story.priority>=3 && story.priority<=6"
                  style="color: white;float: right;">Medium</span>
                <span class="badge badge-info" *ngIf="story.priority>6" style="color: white;float: right;">Easy</span>
      
              </div>
            </div>

            </div>

          </div>

        </div>

      </div>
      <!-- START CONTENT FRAME BODY -->

        <div class="content-frame-body">

      <div cdkDropListGroup>


          <div class="row push-up-10">
            <div class="col-md-3">

              <h3 class="p-2" style="color: white; background-color:#0081c2"><i class="fa-solid fa-list"></i> To-do List</h3>

              <div class="tasks" id="tasks">

                <div class="" cdkDropList 
                [cdkDropListData]="list1" 
                #todo="cdkDropList"
                class="example-list"
                [cdkDropListConnectedTo]="[completed,progress,inreview,nada]"
                 (cdkDropListDropped)="drop($event)">
                 <div *ngIf="list1.length==0">
                  <h3  style="color: gray;" class="ml-5 my-2" >No userStories yet </h3>
                  <div class="drag-image">
                   <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
                   <h6>Drag & Drop user stories </h6>
                 </div>
                 </div>
                  <div class="comment example-box  text-justify float-left" *ngFor="let story of list1" cdkDrag>
                    

                    <div class="task-item task-danger">
                      <div class="task-text">{{story.description}}</div>

                      <div class="task-footer">
                        <div class="pull-left"><span class="fa fa-clock-o"></span> {{story.hours}} hours</div>
                        <div class="pull-left ml-3"  ><span ><img style="border-radius: 100%;" height="25" [src]="imgpath+story.resource.img" alt=""></span> {{story.resource.name}}</div>
        
                        <span class="badge badge-danger " *ngIf="story.priority<3" style="color: white;float: right;">Critical</span>
                        <span class="badge badge-warning" *ngIf="story.priority>=3 && story.priority<=6"
                          style="color: white;float: right;">Medium</span>
                        <span class="badge badge-info" *ngIf="story.priority>6" style="color: white;float: right;">Easy</span>
              
                      </div>
                    </div>


                  </div>
                </div>



              </div>

            </div>
            <div class="col-md-3">
              <h3 class="p-2" style="color: white; background-color:rgb(255, 149, 0)"><i class="fa-solid fa-bars-progress"></i> In Progress</h3>
              <div class="tasks" id="tasks_progreess">

                <div class=""  cdkDropList
                [cdkDropListData]="list2"
                #progress="cdkDropList"
                [cdkDropListConnectedTo]="[completed,todo,inreview,nada]"
                     class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div *ngIf="list2.length==0">
                  <h3  style="color: gray;" class="ml-5 my-2" >No userStories yet </h3>
                  <div class="drag-image">
                   <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
                   <h6>Drag & Drop user stories </h6>
                 </div>
                 </div>
                  <div class="comment  example-box text-justify float-left" *ngFor="let story of list2" cdkDrag>


                    <div class="task-item task-warning">
                      <div class="task-text">{{story.description}}</div>

              <div class="task-footer">
                <div class="pull-left"><span class="fa fa-clock-o"></span> {{story.hours}} hours</div>
                <div class="pull-left ml-3"  ><span ><img style="border-radius: 100%;" height="25" [src]="imgpath+story.resource.img" alt=""></span> {{story.resource.name}}</div>

                <span class="badge badge-danger " *ngIf="story.priority<3" style="color: white;float: right;">Critical</span>
                <span class="badge badge-warning" *ngIf="story.priority>=3 && story.priority<=6"
                  style="color: white;float: right;">Medium</span>
                <span class="badge badge-info" *ngIf="story.priority>6" style="color: white;float: right;">Easy</span>
      
              </div>

                    </div>


                  </div>
                </div>




              </div>
            </div>
          <div class="col-md-3">
              <h3 class="p-2" style="color: white; background-color:yellowgreen"><i class="fa-solid fa-magnifying-glass"></i> In review</h3>
              <div class="tasks" id="tasks_progreess">

                <div class="" cdkDropList #inreview="cdkDropList"                 class="example-list"
                  [cdkDropListData]="list3"  [cdkDropListConnectedTo]="[completed,todo,progress,nada]" (cdkDropListDropped)="drop($event)">
                  <div *ngIf="list3.length==0">
                    <h3  style="color: gray;" class="ml-5 my-2"  >No userStories yet </h3>
                    <div class="drag-image">
                     <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
                     <h6>Drag & Drop user stories </h6>
                   </div>
                   </div>
                  <div class="comment example-box  text-justify float-left" *ngFor="let story of list3" cdkDrag>


                    <div class="task-item task-success">

                      <div class="task-text">{{story.description}}</div>

                      <div class="task-footer">
                        <div class="pull-left"><span class="fa fa-clock-o"></span> {{story.hours}} hours</div>
                        <div class="pull-left ml-3"  ><span ><img style="border-radius: 100%;" height="25" [src]="imgpath+story.resource.img" alt=""></span> {{story.resource.name}}</div>
        
                        <span class="badge badge-danger " *ngIf="story.priority<3" style="color: white;float: right;">Critical</span>
                        <span class="badge badge-warning" *ngIf="story.priority>=3 && story.priority<=6"
                          style="color: white;float: right;">Medium</span>
                        <span class="badge badge-info" *ngIf="story.priority>6" style="color: white;float: right;">Easy</span>
              
                      </div>

                    </div>


                  </div>
                </div>






              </div>
            </div>

            <div class="col-md-3">
              <h3 class="p-2" style="color: white; background-color:rgb(1, 170, 139)"><i class="fa-solid fa-square-check"></i>  Completed</h3>
              <div class="tasks" id="tasks_completed">


                <div class="" cdkDropList #completed="cdkDropList"                 class="example-list" 
                  [cdkDropListData]="list4" [cdkDropListConnectedTo]="[inreview,todo,progress,nada]"
                  (cdkDropListDropped)="drop($event)">
                  <div *ngIf="list4.length==0">
                    <h3  style="color: gray;" class="ml-5 my-2" >No userStories yet </h3>
                    <div class="drag-image">
                     <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
                     <h6>Drag & Drop user stories</h6>
                   </div>
                   </div>
                  <div class="comment example-box text-justify float-left" *ngFor="let story of list4" cdkDrag>



                    <div class="task-item task-info task-complete">

                      <div class="task-text">{{story.description}}</div>

                      <div class="task-footer">
                        <div class="pull-left"><span class="fa fa-clock-o"></span> {{story.hours}} hours</div>
                        <div class="pull-left ml-3"  ><span ><img style="border-radius: 100%;" height="25" [src]="imgpath+story.resource.img" alt=""></span> {{story.resource.name}}</div>
        
                        <span class="badge badge-danger " *ngIf="story.priority<3" style="color: white;float: right;">Critical</span>
                        <span class="badge badge-warning" *ngIf="story.priority>=3 && story.priority<=6"
                          style="color: white;float: right;">Medium</span>
                        <span class="badge badge-info" *ngIf="story.priority>6" style="color: white;float: right;">Easy</span>
              
                      </div>
                    </div>


                  </div>
                </div>





              </div>
            </div>
          </div>

        </div>
        <!-- END CONTENT FRAME BODY -->

      </div>
      <!-- END CONTENT FRAME -->

    </div>
    <!-- END PAGE CONTENT -->
  </div>
</div>












