<div id="banner-area" class="banner-area"
  style="background-image:url(assets/img/contact.jpg);margin-top: 8%;margin-bottom: 3%;">
  <div class="banner-text">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="banner-heading">
            <h1 class="banner-title">{{SingleProject.title}}/Backlog</h1>
          </div>
        </div><!-- Col end -->
      </div><!-- Row end -->
    </div><!-- Container end -->
  </div><!-- Banner text end -->
</div><!-- Banner area end -->

<div class="titre">

  <h1 name="1">User stories</h1>
</div>


<div *ngIf="loader==true">
  <div class="loader-overlay">
    <div *ngIf="loader==true" class="loader"></div>
  </div>
</div>

<!-- Main Body -->
<section>
  <div class="container">

    <div class="row">
      <button [routerLink]='["/SingleProject",id]' class="btn ml-3  col-md-auto btn_retour ">🢀 Back</button>
      <button [routerLink]='["/sprint",id]' class="btn mx-3  col-md-auto  "
        style="color: white;background-color:#0081c2;">Sprints</button>

      <span *ngIf=" scrumBool==true " class="badge  badge-dark col-md-auto ml-1">
        <div class="row ">
          <img [src]="imgpath+scrumMaster.img" alt="" style="width:50px ;height: 30px;border-radius:100%;" >
          <h6 style="margin-top: -15%;"> {{scrumMaster.name}}</h6>
        </div>


      </span>
      <span *ngIf="scrumBool==false" class="badge badge-dark col-md-auto" >
        <h6>No scrum master yet</h6>

      </span>

      <button *ngIf="SingleProject.user_id==loggeduser['id']" class="btn mx-1  col-md-auto w-20 " id="myBtn"
        onclick="popup()" style="color: white;background-color: #0081c2;">+</button>

    </div>

    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <div class="modal-body mb-0 pb-0 mt-0">
          <div class="container ">
            <!-- custom radio button -->
            <div class="holder">
              <div class="row mb-1 ">
                <div class="col ">
                  <h3 style="color: #0081c2;">Select Scrum master</h3>
                </div>
              </div>
              <form class="customRadio customCheckbox m-0 p-0 my-4" [formGroup]="scrumForm">
                <div class="row mb-0">
                  <div class=" justify-content-center">
                    <select name="" id="" class="custom-select" formControlName="etudiant">
                      <option *ngFor="let stud of students" value="{{stud.id}}">{{stud.name}}</option>


                    </select>

                  </div>
                </div>


              </form>

            </div>
          </div>
          <div style="margin-left:83%;" class="my-2"><button class="btn btn-primary "
              (click)="updateScrumMaster()">submit</button></div>

        </div>

        <!-- Modal footer -->

      </div>

    </div>

    <div class="row">

      <div class="col-sm-5 col-md-7 col-12 pb-4">
        <h4 *ngIf="userStories.length==0" style="color: gray; margin-top: 3%;margin-bottom: 3%;">
          No user stories yet</h4>
        <div class="comment  mt-4 col-md-12 text-justify float-left" *ngFor="let story of userStories">
          <button class="btn me-1" style="color: #0081c2;" [routerLink]="['/editBacklog',story.id]">
            <i class="fas fa-edit"></i>
          </button>
          <h4 style="color: #0081c2;">{{story.name}}</h4>
          <span> | {{story.hours}} Hours</span>
          <span class="badge badge-danger " *ngIf="story.priority<3" style="color: white;float: right;">Critical</span>
          <span class="badge badge-warning" *ngIf="story.priority>=3 && story.priority<=6"
            style="color: white;float: right;">Medium</span>
          <span class="badge badge-info" *ngIf="story.priority>6" style="color: white;float: right;">Easy</span>



          <br>
          <p>{{story.description}}</p>

        </div>

      </div>
      <div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4">

        <form id="algin-form" [formGroup]="userStoryForm">
          <div class="form-group">
            <h4 style="color: #0081c2;">Add user story</h4>
            <label for="name">Title</label>
            <input type="text" name="name" id="fullname" formControlName="name" class="form-control"
              placeholder="Title...">

          </div>
          <div class="form-group">
            <label for="name">Estimated hours</label>
            <input type="number" name="name" min="0" id="fullname" formControlName="hours" class="form-control"
              placeholder="Number of hours...">

          </div>
          <div class="form-group">
            <label for="name">Priority</label>
            <input type="number" max="10" min="0" name="name" id="fullname" formControlName="priority" class="form-control">

          </div>

          <div class="form-group">
            <label for="name">Ressource</label>
            <select name="" id="" class="custom-select" formControlName="resource">
              <option *ngFor="let stud of students" value="{{stud.id}}">{{stud.name}}</option>


            </select>
          </div>

          <div class="form-group">
            <label for="name">Actor</label>
            <input type="text" name="name" formControlName="actor" id="fullname" class="form-control"
              placeholder="Actor...">

          </div>

          <div class="form-group">
            <label for="message">Description</label>
            <textarea name="msg" id="" msg cols="30" formControlName="description" rows="5" class="form-control"
              placeholder="Description..."></textarea>
          </div>

          <div class="form-group">
            <button type="button" id="post" class="btn " (click)="onSubmit()"
              *ngIf=" loggeduser['id']==scrumMaster.id || SingleProject.user_id==loggeduser['id']">Submit</button>
            <p *ngIf="loggeduser['id']!=scrumMaster.id && SingleProject.user_id!=loggeduser['id']"
              style="font-weight: bold;color:red;">You have no access to add user story</p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>