<section>

    <img class="photo_grand" src="assets/img/a.jpg">
    <div class="sign_box_signup">
        <h1 class="titre">SIGN UP</h1>
        <form>
            <div class="button_signup">
                <div classe="paragraphe">
                    <p class="paragraphe_welcom">
                        Welcome to Djagora Fondation
                    </p>
                    
                </div>
                <div  class="position_button">
                    <a routerLink="signupmentor">
                        <input  type="button" class="btn_montor" value="Sign-up as a mentor">
                    </a>
                </div>
                <div class="position_button">
                    <a routerLink="signupstudent">
                        <input type="button" class="btn_student" value="Sign-up as a student">
                    </a>
                </div>
                

            </div>

        </form>
       
    </div>
    
</section>

