
<div *ngIf="router.url !== '/Authentification' && router.url !== '/Authentification/forgot' && router.url !== '/notfound' && router.url !== '/Authentification/signup' && router.url !== '/Authentification/signup/signupstudent' && router.url !== '/Authentification/signup/signupmentor' " >
    <app-header ></app-header>
</div>
<router-outlet></router-outlet>

<div *ngIf="router.url !== '/Authentification/forgot' && router.url !== '/Authentification' && router.url !== '/notfound' && router.url !== '/Authentification/signup' && router.url !== '/Authentification/signup/signupstudent' && router.url !== '/Authentification/signup/signupmentor' " >
   <app-footer></app-footer>
</div>
 <!--
<form [formGroup]="genderForm">
    <input type="text" formControlName="name">
    <input type="file" (change)="onChange($event)"  formControlName="img">
    <button (click)="onsubmit()" >stbr </button>
</form>



todo list




-->
