
<div *ngIf="router.url !== '/login' && router.url !== '/login/forgot' && router.url !== '/notfound' && router.url !== '/login/signup' && router.url !== '/login/signup/signupstudent' && router.url !== '/login/signup/signupmentor' " >
    <app-header ></app-header>
</div>
<router-outlet></router-outlet>

<div *ngIf="router.url !== '/login/forgot' && router.url !== '/login' && router.url !== '/notfound' && router.url !== '/login/signup' && router.url !== '/login/signup/signupstudent' && router.url !== '/login/signup/signupmentor' " >
   <app-footer></app-footer>
</div>  
 <!--
<form [formGroup]="genderForm">
    <input type="text" formControlName="name">
    <input type="file" (change)="onChange($event)"  formControlName="img">
    <button (click)="onsubmit()" >stbr </button>
</form>

 
  
todo list




-->