<!--
    
    <footer class="footer">
        <div class="container4">
            <div class="row4">
                <div class="fimg">
                        <img src="assets/img/dja white.png" alt="">
                </div>
                <div class="sous_footer">

                    <h4>services</h4>
                    <div class="listli">
                    <ul>
                        <li ><a href="#">Evenement</a></li>
                        <li><a href="#">Formation</a></li>
                        <li><a href="#">Project</a></li>

                    </ul>
                </div>
                </div>
                <div class="sous_footer">
                    <h4>Contact us</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa fa-envelope"></i>Fondation@gmail.com</a></li>
                        <li><a href="#"><i class="fa fa-phone"></i>+216 74205123</a></li>

                    </ul>
                </div>

                <div class="sous_footer">
                    <h4>Social media</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>





-->









<div class="container-fluid pb-0 mb-0 justify-content-center text-light  ">

    <footer>
        <div class="row justify-content-center mb-0 pt-5 pb-0 row-2 px-3">
            <div class="col-12">
                <div class="row row-2">
                    <div class="col-sm-3 text-md-center">
                        <h5><span></span> <img src="assets/img/dja white.png" alt="">
                        </h5>
                    </div>
                    <div class="col-sm-3  my-sm-0 mt-5">
                        <ul class="list-unstyled">
                            <h3 class="mt-0 ">services</h3>
                            <li>Formations</li>
                            <li>Projects</li>
                            <li>Evenement</li>
                        </ul>
                    </div>
                    
                    <div class="col-sm-3  my-sm-0 mt-5">
                        <ul class="list-unstyled">
                            <h3 class="mt-0 ">Contact</h3>
                            <li><i style="margin-right: 10px;font-size: 12px;" class="fa fa fa-envelope"></i>Fondation@gmail.com</li>
                            <li><i style="margin-right: 10px;"  class="fa fa-phone"></i>+216 74205123</li>
    
                        </ul>
                    </div>
                    <div  class="col-sm-3  my-sm-0 mt-5">
                        <ul class="list-unstyled">
                            <h3 class="mt-0   ">services</h3>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-0 pt-0 row-1 mb-0  px-sm-3 px-2">
            <div class="col-12">
                <div class="row my-4 row-1 no-gutters">
                    <div class="col-sm-3 col-auto text-center"><small>&#9400; Djagora 2023</small></div>
                    <div class="col-md-3 col-auto "></div>
                    <div class="col-md-3 col-auto"></div>
                    <div class="col  my-auto text-md-left  text-right "> <small> Djagora@foundation.com <span></span></small> </div>
                </div>
            </div>
        </div>
    </footer>
</div>